  
    /* Custom CSS for rounded top margin in footer */
    .custom-footer {
      margin-top: 50px; 
      border-top-left-radius: 100px; /* Adjust the radius as needed */
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      border-bottom-left-radius: 100px;/* Adjust the radius as needed */
      background-color: #f8f9fa; /* Optional: Set a background color */
      padding: 50px; /* Optional: Add padding for better appearance */
      text-align: center;
    }
      .saying
        {
          font-size:30px;
        }
      .main-font{
        font-family:'Nanum Myeongjo';

      }
      .secondary-font {
        font-family:'Nanum Gothic';
      }
      .dark-mode {
      background-color: black;
      color: white;
      data-bs-theme: dark;
      }
      

